body{
    background-image: url("https://img.freepik.com/free-vector/elegant-pastel-color-beautiful-background_1017-33496.jpg?w=826&t=st=1664406149~exp=1664406749~hmac=b5b79224c24680d83a784c738f593b4388602703eef778ca1ff6cc21f2f99697");
    background-size: cover;
    /*background-color: #b284da;*/
    margin:0px;
}
header{
    height: 70px;
    background-color: #fffcfc63;
    color:#000000;
    display: flex;
    align-items: center;
    padding-left: 50px;
    border-width: 2px;
    border-style: outset;

}
.primerBloque{
    background-color: #fffcfc63;
    width:70%;
    margin:  10px auto 10px auto;
    padding-block: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style:groove;
    border-radius: 50px;
    border-width: 2px;
    border-style:outset;
    

}
.segundoBloque{
    background-color: #fffcfc63;
    width:70%;
    margin:  40px auto 40px auto;
    padding-block: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style:groove;
    border-radius: 50px;
    border-width: 2px;
    border-style:outset;
}
#letrasGrandes{
    color: #000000;
    
    
}
footer{
    height: 70px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #fffcfc63;
    align-items: center;
    padding-bottom: 20px;
    display: flex;
    flex-direction:initial;
    justify-content: center;
    border-width: 2px;
    border-style:outset;
}